@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 74, 74);
}
h2{
    text-align: right;
    color: rgb(5, 58, 58);
}
#principal {
    text-align: center;
    background-color:rgb(4, 74, 74);
    color: white;
}
p{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 2px;
    line-height: 1.5;
    text-indent: 20px;
}
.basico{
    color: blue;
}
.intermediario{
    color: brown;
}
.destaque{
    color: rgb(5, 5, 92);
}